@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
.kelly-slab-regular {
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
  
